generated/
.envrc

/vendor/
**/bin/
**/node_modules/
.pulumi
Pulumi.*.yaml
/pkg/gen/openapi-specs
generated-cluster/

/right.dhall
go.mod
go.sum
renovate.json
yam.lock
/.buildkite
/.github
/.vscode
/tests

